.modal{ 	
	position:	absolute;  /* necesario porque asi el menu se sobrepone ensima del fondo enimado*/
	z-index:10;
	left: 0;
	background: #000000bf;
	
}

#texto-modal{
	color: #151515;
	font-family: sans-serif;
	font-size: 19px;
	
	padding: 5px;
	margin-left: 200px;
}

#abrir-modal{  /*Estado nativo*/
	color: black;
	text-align: center;
	text-decoration: none;
	font-size: 19px;
}

#abrir-modal:hover{  /*Efect-mouse*/
	color: white;
}



/*----------------------------------------*/
/**/
/*----------------------------------------*/
.modal article{
    width: 600px;
    height: 300px;
    border-bottom: 20px solid #0075e6;
    background: #0075e6;
}
.modal .content-modal{
	width: 100%;
	max-width: 500px;
	position: fixed;
	left: 45%;
	top: -100vh;
	
	
	
	transition: top 0.35s ease;
	margin-left: -250px;
	box-shadow: 0 1px 2px rgba(0,0,0,0.1);
	border-radius: 2px;
}

.close-modal{
	color: black;
}
.close-modal{
	color: white;
	margin-top: 10px;
	margin-left: 575px;
	
	font-weight: bold;
	font-size: 24px;
	text-decoration: none;
	position: absolute;
	
}
.modal .btn-close-modal{
	position: absolute;
	
	z-index: 99999991;
	
}
.modal:target{
	opacity: 1;
}
.modal:target .content-modal{
top: 50px;
transition: top 0.35s ease;
}

#texto-contacto{
		color: black;
		font-family: sans-serif, monospace, fantasy;
		font-size: 25px;
		text-align: center;
	
		padding-top: 30px;
}

#texto-contacto-info{
    color: black;
		font-family: sans-serif, monospace, fantasy;
		font-size: 14px;
		text-align: center;
    margin-top: 3px;
    padding-bottom: 30px;
	
}

#texto-contacto-sugerencia{
    color: black;
		font-family: sans-serif, monospace, fantasy;
		font-size: 13px;
		text-align: center;
    margin-left: 150px;
    padding-right: 100px;
}


label {
	/*labels*/
	display: inline-block;
	width: 90px;
	margin-left: 75px;
	font-size: 19px;
	
}

input, textarea {
    /*campos tienen las mismas propiedades*/
		color: black;
		font-family: sans-serif, monospace, fantasy;
		font-size: 20px;
	
		width: 300px;
    border: 1px solid grey; 
	  margin-top: 6px; 
}

button {
		height: 35px;
		width: 155px;
		margin-top: 12px;
    margin-left: 250px;
		border-radius: 5px;
    
    background: #1b1b1b36;
    border: 1px solid #151515;
}














